* {
    outline: none;
}

body {
    background: white;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    -webkit-app-region: drag;
}

p {
    font-size: 20px;
    font-weight: bold;
}

.app-name-input {
    padding: 10px;
    border-color: none;
    border: 1px solid rgb(81, 166, 223);
    border-radius: 10px;
    margin-bottom: 10px; 
}

.shortcut-input {
    padding: 10px;
    border-color: none;
    border: 1px solid rgb(81, 166, 223);
    border-radius: 10px;
    margin-bottom: 10px;
}

.shortcut-form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 10px;
}

.shortcut-button {
    padding: 10px;
    background-color: rgb(47, 184, 248);
    border: none;
    border-radius: 5px;
}

.delete-button {
    color: white;
    padding: 5px;
    background-color: rgb(231, 55, 55);
    border: none;
    border-radius: 5px; 
}

li {
    margin-top: 5px;
}